.NotFoundPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 4rem;
    color: grey;
  }

  .message {
    color: grey;
  }

  a {
    color: blue;
    text-decoration: none;
    margin-top: 1rem;
  }
}